<div class="highlight" style="background-image: url({{highlightPic()}})">
  <div class="title">{{movieService.getSelectedMovie().title}}</div>
  <div class="year">Release: {{movieService.getSelectedMovie().releaseYear}}</div>
  <div class="synopsis">{{movieService.getSelectedMovie().synopsis}}</div>
</div>
