*{margin: 0;
border: 0;
padding: 0;
box-sizing: border-box;}

html, body{
    background-color: black;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

.container{
    height: 100vh;
    width:  100vw;
}

.header{
    height: 60px;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.show{
    visibility: visible;
}

.hide{
    visibility: hidden;
}

.logo, .user, .searchButton, .searchBox {
    height: 50px;
}

.searchBox {
    width: 40vw;
    float: left;
    font-size: 24px;
}

.highlight{
    height: 58%;
    padding: 10px;
}

.highlightBackground{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 100%;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
    cursor: pointer;
}

.leftScroll, .rightScroll{
    padding: 10px;
}

.items{
    display: grid;
    grid-auto-flow: column;
    overflow: auto;
    scroll-behavior: smooth;
    height: 40%;
}

.item {
    padding: 5px;
    height: 30vh;
    cursor: pointer;
}

.highlightDescription{
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: right;
    width: 30%;
    max-height: 80%;
}

.movieTitle{
    font-size: 35px;
}

.movieSynopsys{
    font-size: 25px;
}

.movieTitle, .movieSynopsys{
    padding: 10px;
}

 @media(max-width: 1300px){
    .highlight{
        height: 40%;
    }
   
    .items{
        height: 64%;
    }

    .item {
        height: 50vh;
    }

    .movieTitle{
        font-size: 30px;
    }
    
    .movieSynopsys{
        font-size: 20px;
    }
}

 @media(max-width: 800px){
    .highlight{
        height: 20%;
    }
   
    .items{
        height: 84%;
    }

    .item {
        height: 70vh;
    }

    .movieTitle{
        font-size: 20px;
    }
    
    .movieSynopsys{
        font-size: 10px;
    }
}